.data-editor {
    &__footer {
        position: absolute;
        width: 100%;
        margin-left: -0.5rem;

        @include themify() {
            background: themed($surfaceBgTertiary);
        }
    }
}